@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


/* clerk classes */

.cl-internal-phfxlr{
  border: 1px solid #2d333b;
  border-radius: 8px;
}

.cl-userButtonPopoverActionButtonIcon {
  color: #ffffff;
}

.cl-logoBox {
  height: 40px;
}
.cl-dividerLine {
  background: #2d333b;
  height: 2px;
}

.cl-internal-1ljjxiy{
  border: 3px solid #ffffff;
}
.cl-internal-1ljjxiy:hover{
  background-color: #0d1117;
}
.cl-internal-1auy46s{
  color:#dbe2e8
}
.cl-internal-1auy46s:hover{
  color:#dbe2e8
}

.cl-internal-wkkub3 {
  color: #ffffff;
}
.cl-userButtonPopoverActionButton {
  color: #ffffff;
}
.cl-internal-15di0mo{
  color: #848d97;
}
.cl-internal-1pfcfzo{
  color:#2d333b
}
.cl-userButtonPopoverActionButton:hover{
  color:#dbe2e8
}
.cl-userButtonPopoverActionButton{
  color:#848d97
}

.cl-internal-t7xoon:hover {
  color:#dbe2e8
} 

.cl-internal-t7xoon{
  color:#848d97
} 
.cl-internal-zpbffa{
  color:#848d97
}
.cl-internal-eukaea{
  color:#848d97
}
.cl-internal-1xpngvq{
  color:#848d97
}

.cl-internal-1xpngvq:hover{
  color:#dbe2e8
}
.cl-internal-19v6770{
  color:#848d97
}
.cl-internal-19v6770:hover{
  color:#dbe2e8
}
.cl-internal-1qz3ov6{
  color:#848d97
}
.cl-internal-1qz3ov6:hover{
  color:#dbe2e8
}
.cl-internal-1qz3ov6{
  background-color: #0d1117;
}
.cl-internal-1dtwxh1:hover{
  color:#dbe2e8
}